.header h3{
    font-family: 'Montez' ,cursive;
    color: blue;
}
.container{
    position: relative;
   max-width: fit-content;
}
.header{
    position: absolute;
    top: 0%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
#image1{
    width: 1700px;
    height: 600px;
   
}
body{
    max-width: fit-content;
}
#btn1{
    margin-left: 30px;
    margin-right: 20px;
}
.sub{
    position: absolute;
    top: 5%;
}


 .sub{
    font-family: 'Montez', cursive;
    font-family: 'Ubuntu Mono', monospace;
}
.postbtn{
    position: absolute;
    top: 50%;
    left: 50%;
}
.postbtn button{
    background-color: rgb(182, 182, 77);
    margin: 10px;
}
.form1 input{
   margin-left: 0%;
}
.form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
}
 .Form1 {
    width: 40px;
}

 .form1 input{
     width: 50%;
 }
 .modal-body input{
    width: 450px;
    background-color: #e2e1e1;
   
}
label{
    margin-top: 10px;
    width: max-content;
}
.btn button{
    background-color: blue;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    height: 40px;
    margin-left: 20px;
 }
 #footer button {
    margin-top: 20px;
    width: 450px;
    background-color: green; 
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;

}
/*
.container {
    display: flex;
   
    justify-content: space-between;
    align-items:flex-start;
    height: 30px;
   
    
   
    
}


.btn button{
   background-color: blue;
   color: white;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   width: 100px;
   height: 40px;
}

.mainContainer{
    
    background-color: #e2e1e1;
    height: fit-content;

}
.modal-body input{
    width: 450px;
    background-color: #e2e1e1;
   
}
label{
    margin-top: 10px;
}
#footer button {
    margin-top: 20px;
    width: 450px;
    background-color: green; 
    text-align: center;

}
#link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.sub #keywords{
    background-color: #e2e1e1;
    height: 20px;
   
}
body{
    background-color: #e2e1e1;
}

.mainContainer{
    position: relative;

}
.image1 {
    height: 600px;
}
.btn{
    position: absolute;
    top: 50%;
}

 */
