body{
    background-color: #ffeedd;
    max-width: max-content;
    width: 100%;
    max-height: max-content;
    height: 900px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1290px;
}
.sub{
    margin-top: 2%;
}
.post1{
    width: max-content;
   
    margin-top: 10%;
    margin-left: 5%;
   
  
}
.col-md-4{
    padding: 70px;
   
}

.card-body{
    background-color: #e2e1e1;
    width: fit-content;
    
   
}
.col-md-8{
    max-height: fit-content;
}



